name: Main CI

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Project checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'
      - name: Build
        id: build
        run: ./gradlew assemble --no-daemon
      - name: Test
        id: test
        if: success()
        run: ./gradlew check --no-daemon
