name: Release CI

on:
  push:
    tags:
      - '*'

permissions:
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Project checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'
      - name: Build code
        run: ./gradlew --no-daemon assemble
      - name: Test code
        run: ./gradlew --no-daemon check
      - name: Build docs
        run: ./gradlew --no-daemon javadoc
      - name: Upload docs
        uses: actions/upload-pages-artifact@v3
        with:
          path: lib/build/docs/javadoc
  deploy:
    name: Deploy docs
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs:
      - build
    runs-on: ubuntu-24-04
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
